<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Brainfuck Web Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="container">
    <span th:insert="header" />

    <div class="alert alert-danger" role="alert"
         th:if="${not #strings.isEmpty(result.errorMessage)}" th:text="${result.errorMessage}">
    </div>

    <div th:if="${not #strings.isEmpty(result.output)}">
        <samp th:text="${result.output}"></samp>

        <hr />

        <div class="alert alert-info" role="alert" th:text="'Total execution time: ' + ${result.executionTime} +'ms'">
        </div>
    </div>

    <a th:href="@{/}">&larr; Back</a>
</div>

<footer class="footer" th:insert="footer" />

<script type="text/javascript" th:src="@{webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>

</body>
</html>
